$b: ".about";

#{$b} {
  background: $dark url(../assets/img/about-bg-2.png) 100% center no-repeat;
  background-size: cover;
  color: $white-true;
  @include tablet {
    background-size: auto 100%;
    background-position: center;
  }
  &__inner {
    h2 {
      margin-bottom: 80px;
      @include tablet {
        margin-bottom: 30px;
      }
      @include mobile {
        margin-bottom: 20px;
      }
    }
  }
  &__cols {
    display: flex;
    @include tablet {
      display: block;
    }
  }
  &__col {
    flex-shrink: 0;
    &:first-child {
      width: 60%;
      padding-right: 100px;
      @include low-desktop {
        width: 52%;
        padding-right: 50px;
      }
      @include tablet {
        width: auto;
        padding: 0;
      }
    }
    &:nth-child(2) {
      width: 40%;
      @include low-desktop {
        width: 48%;
      }
      @include tablet {
        width: auto;
      }
    }
    h3 {
      font-size: 32px;
      font-weight: 600;
      @include low-desktop {
        font-size: 24px;
        line-height: 1.6;
      }
      @include tablet {
        margin-bottom: 40px;
      }
      @include mobile {
        font-size: 16px;
        margin-bottom: 20px;
      }
    }
    p {
      font-size: 16px;
      line-height: 1.6;
      @include tablet {
        font-size: 24px;
      }
      @include mobile {
        font-size: 16px;
      }
      &:not(:last-child) {
        margin-bottom: 24px;
        @include tablet {
          margin-bottom: 40px;
        }
        @include mobile {
          margin-bottom: 20px;
        }
      }
    }
  }
  &__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.6;
    color: inherit;
    margin: 0 0 24px;

    @include mobile {
      font-size: 20px;
      margin-bottom: 20px;
    }

    p {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }
  .button {
    width: 210px;
    margin-top: 100px;
    @include mobile {
      margin-top: 30px;
      width: 100%;
    }
  }
}
