$b: ".slider";

#{$b} {
  position: relative;
  z-index: 1;
  padding-bottom: 95px;
  @include tablet {
    margin-bottom: 90px;
  }
  &:last-child {
    margin-bottom: 55px;

    &:before {
      content: '';
      position: absolute;
      bottom: -40px;
      height: 2px;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
  &__banner {
    #{$b}:last-child:before {
        display: none;
    }
  }
  & + .partners__button {
    position: absolute;
    bottom: 0;
    margin-top: 0;

    @include mobile {
      position: initial;
    }
  }
  &_is-full {
    padding-bottom: 0 !important;

    & + .partners__button {
      position: initial;
    }
  }
  &_dark {
    overflow: hidden;
    #{$b}__bullet {
      background: $dark;
    }
    &:last-child {
      margin-bottom: 0;
      &:before {
        display: none;
      }
    }
    .swiper-container {
      overflow: visible;
    }

    .swiper-slide {
      display: flex;
    }
  }
  &__controls {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    z-index: 1;
    #{$b}_multiple & {
      left: auto;
      right: 0;
    }
    @include mobile {
      display: none;
    }
  }
  &__next, &__prev {
    margin-right: 20px;
    flex-shrink: 0;
    #{$b}_multiple & {
      margin: 0 0 0 20px;
    }
    &.is-disabled {
      pointer-events: none;
      opacity: 0.5;
    }
    svg {
      vertical-align: middle;
    }
  }
  &__count {
    font-size: 12px;
    font-weight: 700;
    user-select: none;
  }
  &__bullets {
    display: none;
    justify-content: flex-end;
    margin-top: 24px;
    @include mobile {
      display: flex;
      justify-content: center;
    }
    &_hidden {
      visibility: hidden;
      @include mobile {
        display: none;
      }
    }
  }
  &__bullet {
    @include round(6px);
    background: $white-true;
    &:not(#{$b}__bullet_active) {
      opacity: 0.3;
    }
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  .swiper-container {
    @include mobile {
      overflow: visible;
    }
  }
  &_multiple {
    .swiper-container {
      @include tablet {
        overflow: visible;
      }
    }

    .swiper-wrapper {
      align-items: stretch;
    }

    .swiper-slide {
      height: auto;
      transition: opacity 0.3s;
      &-prev {
        opacity: 0;
      }
    }

    #{$b}__bullets {
      position: relative;
      z-index: 1;
    }
  }
  &_shadows {
    .swiper-container {
      padding: 80px;
      margin: -80px;
    }
    .swiper-slide {

      &:hover {
        .partners-slide__image {
          background-color: #3B37FF;
          color: #ffffff;

          img {
            filter: invert(0);
          }
        }
      }

      @include tablet-min {
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
        transition-property: opacity, visibility;

        &.swiper-slide-visible {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  .swiper-slide {
    &:hover {
      .partners-slide__image {
        background-color: #3B37FF;
        color: #ffffff;
        transition: all 0.3s ease;

        &::before {
          background-color: #3B37FF;
          background-image: none;
          backdrop-filter: none;
          opacity: 1;
        }

        img {
          filter: invert(0);
        }
      }
    }
  }
  &.top-slider {
    padding-bottom: 0 !important;

    @include tablet {
      margin-bottom: 16px;
    }
  }
}
